POSTGRES_DB=promptagent
POSTGRES_USER=promptagent
POSTGRES_PASSWORD=change-this-local-password
POSTGRES_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/promptagent
DB_USERNAME=promptagent
DB_PASSWORD=change-this-local-password
